info:
  app:
    encoding: @project.build.sourceEncoding@
    java:
      source: @maven.compiler.source@
      target: @maven.compiler.target@
    project:
      artifactId: @project.artifactId@
      buildDetails: '@versionName@'
      groupId: @project.groupId@
      name: '@project.name@'
      version: @project.version@

management:
  endpoint:
    health:
      show-details: when-authorized
  endpoints:
    web:
      base-path: '/monitoring'
      exposure:
        include: '*'
  info:
    git:
      mode: full
  server:
    port: 9011

resourceRepository:
  resolved:
    patterns:
      - pattern: ^([^.]*?)$
        substitutions:
          - 'file:~/Downloads/$1.mp4'
          - 'file:~/Downloads/$1.mp3'
          - 'file:~/Downloads/$1.ogg'
          - 'file:~/Downloads/$1.pdf'
          - 'file:~/Downloads/$1.txt'
          - 'file:~/Downloads/$1.xml'

server:
  error:
    include-exception: true
    include-stacktrace: always
  port: 9010
  server-header: "@project.name@ v@project.version@"
  tomcat:
    accesslog:
      directory: "/var/log/digitalcollections"
      enabled: true
      prefix: access_log_euphoria
      rename-on-rotate: true

spring:
  messages:
    basename: 'messages, messages-commons'
    cache-duration: 5
    encoding: 'UTF-8'
    fallback-to-system-locale: false
  profiles:
    active: local
    include: webjars
  security:
    user:
      name: admin
      password: secret
  thymeleaf:
    cache: false
    mode: HTML

---

management:
  server:
    port: 9001

resourceRepository:
  resolved:
    patterns:
      - pattern: ^([^.]*?)$
        # just examples, change the filepath to your setup
        substitutions:
          - 'file:/local/fileResources/$1.mp4'
          - 'file:/local/fileResources/$1.mp3'
          - 'file:/local/fileResources/$1.ogg'
          - 'file:/local/fileResources/$1.pdf'
          - 'file:/local/fileResources/$1.txt'
          - 'file:/local/fileResources/$1.xml'

server:
  error:
    include-exception: false
    include-stacktrace: 'never'
  port: 8080

spring:
  profiles: PROD
  thymeleaf:
    cache: true