<!DOCTYPE html>
<html 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{base}">
  <body>
    <section layout:fragment="content">

      <div class="row">
        <div class="col-sm-12">
          <div class="card border-primary">
            <div class="card-header bg-primary text-white">
              Playing OGG-audio "/stream/<span th:text="@{__${identifier}__}">...</span>/default.ogg" in HTML5
            </div>
            <div class="card-body" style="text-align: center;">
              <audio controls="true">
                <source th:src="@{/stream/__${identifier}__/default.ogg}" type="audio/ogg" />
                Your browser does not support the audio element.
              </audio>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
