body {
  padding-top: 75px;
}

.navbar {
  background-color: white;
  border-bottom: solid 1px #e5e5e5;
  min-height: 45px;
}

.navbar-brand.logo > img {
  height: 40px;
  margin-top: -10px;
}

.jumbotron {
  margin-bottom: 25px;
  text-align: center;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
