body {
  padding-top: 80px;
}

.navbar {
  border-bottom: solid 1px #e5e5e5;
  min-height: 45px;
}

.navbar-brand.logo > img {
  height: 40px;
}

#navbar a.badge {
  color: white;
}

.error-page p {
  text-align: left;
}

footer {
  border-top: solid 1px #aaa;
  bottom: 0;
  position: fixed;
}