<!DOCTYPE html>
<html 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{base}">
  <body>
    <section layout:fragment="content">

      <div class="bg-light mb-4 mt-3 p-5 rounded text-center">
        <h1 class="display-4">Euphoria Streaming Server</h1>
        <p class="lead" th:text="#{intro_text}">Use below forms to view videos or play audios provided by this server.</p>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="card border-primary">
            <div class="card-header bg-primary text-white">HTML5</div>
            <div class="card-body">
              <table class="mb-0 table">
                <tr>
                  <td>
                    <h4 th:text="#{view_video}">View Video with HTML5 player</h4>
                    <form class="align-items-center d-flex" action="#" th:action="@{/video/view}" method="post">
                      /video/ <input class="form-control" name="identifier" placeholder="identifier" required type="text"> /view.html
                      <button  th:text="#{view}" type="submit" class="btn btn-primary ms-3">view</button>
                    </form>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4 th:text="#{play_audio}">Play Audio with HTML5 player</h4>
                    <form class="align-items-center d-flex" action="#" th:action="@{/audio/play}" method="post">
                      /audio/ <input class="form-control" name="identifier" placeholder="identifier" required type="text"> /play.html
                      <button th:text="#{play}" type="submit" class="btn btn-primary ms-3">play</button>
                    </form>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
    </section>
  </body>
</html>